/* ***************** General CSS ******************** */

* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: 'Raleway', 'Source Sans Pro', sans-serif; 
    overflow-y: scroll;
    overflow-x: hidden;
}

p {
    font-size: 14px;
}

/* ***************** Header ************************** */



/* ***************** Features ************************ */



/* ***************** Footer ************************** */

